// フッター
@use '/app/_styles/variables.scss' as v;


.topMenu{
    padding-bottom: 250px;

    position: relative;
    z-index: 3;

    @include v.mq(xl){
        padding-top: 200px;
        padding-bottom: 200px;
    }
    @include v.mq(md){
        padding-top: 150px;
        padding-bottom: 150px;
    }
    @include v.mq(sm){
        padding-top: 100px;
        padding-bottom: 130px;
    }


    &__inner{
        @include v.commonInner;
        width: 1120px;
        position: relative;
        z-index: 1;
        padding-top: 30vh;
        @include v.mq(xl){
            width: 1024px;
            padding-left: 3%;
            padding-right: 3%;
        }

    }

    &__nav{
        display: flex;
        gap: 50px;

    }

    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        text-align: center;

        background-position: center;

        border-radius: 16px;
        width: 50%;

        &:nth-child(1) {
            background-image: url( v.$img_path + 'menu01.jpg.webp');

            @include v.mq(md){
                transition-delay: 0s;
                opacity: 1;
                visibility: visible;
                transform: none;
            }
        }
        &:nth-child(2) {
            background-image: url( v.$img_path + 'menu02.jpg.webp');

            @include v.mq(md){
                transition-delay: 0s;
                opacity: 1;
                visibility: visible;
                transform: none;
            }
        }
        &:nth-child(3) {
            background-image: url( v.$img_path + 'menu03.jpg.webp');

            @include v.mq(md){
                transition-delay: 0s;
                opacity: 1;
                visibility: visible;
                transform: none;
            }
        }
        &:nth-child(4) {
            background-image: url( v.$img_path + 'menu04.jpg.webp');

            @include v.mq(md){
                opacity: 1;
                transition-delay: 0s;
                visibility: visible;
                transform: none;
            }
        }
        &:nth-child(5) {
            background-image: url( v.$img_path + 'menu05.jpg.webp');

            @include v.mq(md){
                transition-delay: 0s;
                opacity: 1;
                visibility: visible;
                transform: none;
            }

        }
        &:nth-child(6) {
            background-image: url( v.$img_path + 'menu06.jpg.webp');

            @include v.mq(md){
                transition-delay: 0s;
                opacity: 1;
                visibility: visible;
                transform: none;
            }

        }        


        background-size: cover;
        height: 300px;

        color: #fff;
        font-weight: 900;
        text-decoration: none;
        font-size: 3.4rem;
        text-shadow: 1px 1px 4px rgba(0,0,0,.5), -1px -1px 4px rgba(0,0,0,.5);

        overflow: hidden;

        @include v.mq(md){
            height: 200px;
            font-size: 2.4rem;
        }
        @include v.mq(sm){
            height: 120px;
            font-size: 2rem;
        }

        &::before{
            position: absolute;
            content: "";
            transition: .3s;
            width: 100%;
            height: 0;
            z-index: -1;
        }
        &:hover{
            &::before{
                content: "";

                width: 100%;
                height: 100%;
                background-color: rgba(#000, .5 );

            }
        }
    }
}
